
.header {
  width: 100%;
  height: 10vh;
  background-color: rgb(37, 78, 64);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.header-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 10vh;
  /* height: 70px; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.5rem;
}


.logo {
  width: 120px;
  height: 7vh;
  /* border: 2px solid white; */
  border-radius: 10px;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  
  width: 100%;
  box-shadow: 0px 0px 2px rgb(14, 248, 46);
  height: auto;
  display: block;
  /* overflow: hidden; */
  border-radius: 10px;
}

.logo:hover.logo img {
  scale: 1.2;
  transition: 0.4s ease;
}

.navbar {
  position: relative;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.2s ease;
  font-size: 1.3rem;
}

nav a:hover {
  color: #22c55e;
}


.baricon {
  display: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}


@media (max-width: 768px) {
    .header-container {
        padding: 1rem 3rem;
    }
  .baricon {
    display: block;
  }

  nav {
    display: none;
  }

  .navbar:hover nav {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    position: absolute;
    top: 10vh;
    right: 0;

    width: 150px;
    padding: 1.5rem;

    background-color: rgb(37, 78, 64);
    border-radius: 8px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 600px) {
    .header-container {
        padding: 0.5rem 1.5rem;
    }
    .baricon {
        font-size: 1.4rem;
    }
}