
header{

    height: 15vh;
    width: 100%;
    /* border: 1px solid rgb(189, 35, 35); */
    background-color:rgba(51, 51, 51, 0.837);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

    padding: 2rem 5rem;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 12rem;
    height: 8.5vh;
} 

.logo img{
    width: 80%;
    box-shadow: 0px 0px 5px rgb(11, 173, 103);
    border-radius: 10px;
}
/* nav bar */
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    /* border: 1px solid gray; */
    padding: 1rem ;  
}

nav a {
    text-decoration: none;
    color: rgb(14, 189, 78);
    font-weight: bold;
    /* padding: 5px 5px; */
    /* text-decoration-color:rgba(204, 179, 179, 0.503); */
}

nav a:hover{
    color: blue;
    scale: 1.2;
    /* border: 1px solid gray; */

}



