
.header-container {

    height: 15vh;
    width: 100%;
    /* border: 1px solid rgb(189, 35, 35); */
    background-color:rgb(37, 78, 64);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

    padding: 2rem 5rem;
    font-size: 1.3rem;
    position: sticky;
    top: 0;

    overflow: 
    hidden;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 9rem;
    height: 8vh;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(183, 189, 186);
    overflow: hidden;
} 

.logo:hover{
    scale: 1.1;
    box-shadow: 0px 0px 2px rgb(73, 129, 233);
}

/* nav bar */
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    /* border: 1px solid gray; */
    padding: 1rem ;  
}

nav a {
    text-decoration: none;
    color: rgb(236, 226, 226);
    font-weight: bold;
    font-size: 1.3rem;
    /* padding: 5px 5px; */
    /* text-decoration-color:rgba(204, 179, 179, 0.503); */
}

nav a:hover{
    color: rgb(31, 201, 45);
    scale: 1.2;
    /* border: 1px solid gray; */

}




