
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


body {
    /* border: 2px solid rgb(224, 17, 17); */
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;

}

.login_page{
    border: 1px solid rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 2rem 4rem;

    background-color: white;
    color: black;

    border-radius: 12px;

    padding-top: 0.2rem;
}

.login_page img{
    width: 150px;
}

/* form */
#myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* gap: 1rem; */
}

#myForm button{
     
    /* margin-left:2rem ; */
    width: 90%;
    background-color: blue;
    color: aliceblue;

    padding: 10px 40px;
    border-radius: 20px;
    border: none;
}
