.mainhome-container{
    display: flex;
    flex-direction: column;
    width: 99vw;
    overflow: hidden;
}

.mainhome-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(71, 230, 110, 0.596);
    width: 100vw;
    overflow: hidden;
    min-height: 85vh;
}

h1{
    font-size: 5rem;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: space-between;
    gap: 2rem;

    padding: 2rem 5rem;
    /* border: 1px solid red; */
}

.buttons button{
    padding: 1rem 2.5rem;
    background-color: rgb(16, 165, 16);
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
}

.buttons button a{
    text-decoration: none;
    color: black;
}
