
.product-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    background-color: #f5f5f5;
    width: 100vw;
    overflow: hidden;
}