.product-section {
  padding: 4rem 1.5rem;
  /* background-color: #f8fafc;
   */
  background: linear-gradient(rgb(164, 229, 244), #ddf7a5, #4cac4c);

}

.product-container {
  max-width: 1100px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.product-text h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.product-text p {
  margin-bottom: 1.5rem;
  color: #475569;
}

.product-text ul {
  list-style: none;
  padding: 0;
}

.product-text li {
  margin-bottom: 0.8rem;
  font-weight: 500;
}

.product-image img {
  width: 100%;
  border-radius: 12px;
}

/* Responsive */
@media (max-width: 768px) {
  .product-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
