
.login_page{
    border: 2px solid rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;

    padding: 2rem;
    margin: 5rem;
    /* min-height: 85vh; */

    /* padding: 2rem 4rem; */

    background-color: black;
    color:white;
   border-radius: 12px;

    /* padding-top: 0.2rem; */
}

.login_page img{
    width: 150px;
}

/* form */
/* #myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* gap: 1rem; */


#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
}

#login input{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: medium;
    text-decoration: none;
    border: none;
    box-shadow: 0px 0px 5px white;
}

#login button{
     
    /* margin-left:2rem ; */
    width: 90%;
    background-color: blue;
    color: aliceblue;

    padding: 10px 40px;
    border-radius: 20px;
    border: none;
}
