
.sign_up{
    border: 2px solid rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;

    padding: 10px;
    margin: 1rem;
    /* min-height: 85vh; */

    /* padding: 2rem 4rem; */

    background-color: black;
    color:white;
   border-radius: 12px;

    /* padding-top: 0.2rem; */
}




#signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
}

#signup input{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: medium;
    text-decoration: none;
    border: none;
    box-shadow: 0px 0px 5px white;
}


#signup button{
     
    /* margin-left:2rem ; */
    width: 70%;
    background-color: blue;
    color: aliceblue;

    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

#signup input[type="number"]::-webkit-inner-spin-button,
#signup input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Make file & number inputs behave like normal inputs */
#signup input[type="file"] {
    /* padding: 10px 20px; */
    /* border-radius: 10px; */
    /* font-size: medium; */
    border: none;
    /* box-shadow: 0px 0px 5px white; */
    background-color: transparent;
    width: 70%;
    color: black;
}
