
.main_app{
  /* border: 2px solid rgb(189, 16, 134); */
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}




